@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    box-sizing: border-box;
}

/* background-image: linear-gradient(141deg, #9fb8ad 0%,  #1fc8db 25%, #2c8de8); */

.form-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    padding: 1em;
    margin: 1em;
    border: 1px solid #bdc3c7;
    border-radius: .5em;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    margin-top: 30px; 
    background-color: white;
}

.form-group {
    width: 100%;
    margin: 10px auto;
    height: 70px;
    position: relative;
}

.form-control.is-invalid,
.form-control.is-valid {
    border: 1px solid white!important;
}

.form-group input {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    /* padding-top: 20px; */
    padding-left: 17px;
    border: 1px solid white!important;
}

.form-group input:focus + .form-label .content,
.form-control.is-invalid + .form-label .content,
.form-control.is-valid + .form-label .content {
    bottom: 10px;
    /* background-color: white; */
    background-image: linear-gradient(180deg, #fff 45%, transparent 50%);
    font-size: 12px;
    color: #2980b9 ;
}

.form-group input:focus + label::before  {
    opacity: 1;
}

.form-group label {
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 0px;
    padding-left: 12px;
    width: 100%;
    height: 50px;
    pointer-events: none;
    border: 1px solid #bdc3c7;
    border-radius: 10px;

}

.form-group label::before {
    content: "";
    position: absolute;
    bottom: 0px;
    height: 100%;
    width: 100%;
    border: 2px solid #2980b9;
    left: 0px;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.3s ease;
}

.content {
    position: relative;
    color: #949494;
    bottom: -14px;
    background-color: transparent;
    padding: 5px;
    transition: all 0.3s ease;
}

.class-submit {
    margin: 20px auto;
    /* transform: translate(-50%, 0%); */
    background-color: #3498db;
    transition: background-color 0.4s ease;
    border-color: #3498db;
    width: 20%;
}



.class-submit:hover {
    background-color: #2980b9;
    border-color: #3498db;
}

input:focus,
input:active,
input.hover {
    outline: none !important;
    -webkit-appearance: none;
    box-shadow: none !important;

}

.form-feedback {
    padding-top: 70px;
    height: 10px;
    height: 2em !important;
}

.form-header {
    display: block;
    color: rgb(100, 100, 100);
    margin: 30px auto 100px auto;
    width: 100%;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.form-valid {
    height: 50px;
}

.invalid-cred {
    font-size: 80%;
    color: #dc3545;
}
